enclave.signed.so
enclave.so
enclave.token
sgxclient
sgxserver
sgxkeys
openssl-1.1.1t/
exe/
stats/
viewstats/
deployment/
exphot.py
expmkp.py
gen_ip.py
ip_list
out0
out1
out2
raw_ip_list
run.py
run_noTEE.py
server
servers
setup.sh
setuphot.sh
stats.txt
transfer.py
client_stats
clientoutput
close.sh
close.py
close_noTEE.py
conn.shApp/*.o
Enclave/*.o
clients
experiments.py
expbase.py