enclave.signed.so
enclave.so
enclave.token
sgxclient
sgxserver
sgxkeys
openssl-1.1.1t/
App/params.h
App/*.o
Enclave/*.o
run.py
stats.txt
exe/
scripts/
deployment/
clients
out0
out1
out2
expmkp.py
ip_list
server
servers
App/Enclave_u.c
App/Enclave_u.h
close.py
stats/